.catalog-section {
  width: 100%;
  margin-left: 0;
  margin-top: 81px;
  transition: ease-in-out .3s;
  @media (min-width: $md-screen) {
    margin-left: auto;
    width: calc(100% - 300px);
  }
  [class*="__item--"] {
    //@extend .card;

  }
  [class$="__item-top"] {
    @extend .card-header;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  [class$="--label"], [class$="--def"] {
    display: inline;
  }
  [class$="--label"] {
    text-transform: capitalize;
    &:after {
      content: ":";
    }
  }
  &__item {
    &-content {
      padding: {
        top: 5px;
        left: 10px;
      }
      @extend .card-content;
    }
    &-bottom{
      @extend .card-bottom;
      padding:{
        top: 7px;
        bottom: 7px;
      };
    }
    &-title{
      @extend .card-title;
    }
  }
  &__link--goto{
    background-color: $solid-yellow;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: .5;
    top: -100%;
    transform: translateY(20%);
    right: 10%;
    box-shadow: 0 0 5px 0 #222;
    transition: .3s;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      background-color: lighten($solid-yellow, 7);
      top: calc(-100% - 7px);
    }
  }

  &__item-wrap{
    border: 1px solid $border-grey;
  }
}
