.intro-section {
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__item {
    font-family: $basic-font;
    font-size: 5em;
    color: $white;
    margin-bottom: 55px;
  }
  &__menu-list &__menu-list-item {
    font-family: $basic-font;
    font-weight: 200;
    font-size: 1.5em;
    display: inline;
    list-style-type: none;
  }
  &__menu-list {
    border-top-color: $text;
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 8px;
  }
  &__menu-list-item:not(:last-child) {
    margin-right: 170px;
  }
  &__item--text {
    color: $white;
    font-weight: 200;
  }
  &__footer {
    color: $text;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-family: $basic-font;
  }
  &__header {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  &__menu-list-item--link {
    text-decoration: none;
    color: $text;
  }

}
