.intro-section {
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media(max-width: $sm-screen) {
      display: block;
    }
  }
  &__item {
    font-family: $ExtraLight;
    font-size: 5em;
    color: $white-transp;
    width: 100%;
    &--title{
      text-align: center;
    }
    &--text{
      margin-top: 20px;
    }
    &--menu {
      display: flex;
      width: 100%;
    }
  }
  &__menu-list &__menu-list-item {
    font-family: $ExtraLight;
    font-weight: 200;
    font-size: 1.5em;
    display: inline;
    list-style-type: none;
  }
  &__menu-list {
    display: flex;
    width: 100%;
    border-top-color: $white-transp;
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 8px;
    justify-content: space-between;
    &-item {
    }
  }
  &__item--text {
    color: $white;
    font-weight: 200;
  }
  &__footer {
    color: $white-transp;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-family: $ExtraLight;
    p {
      font-size: 1em;
      padding-bottom: 30px;
    }
  }
  &__header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  &__menu-list-item--link {
    text-decoration: none;
    color: $white-transp;
  }
  &__title {
    font-size: .7em;
    color: $white;
    font-family: $Regular;
    @media(min-width: $sm-screen-max) {
      text-align: right;
    }
    @media(max-width: $sm-screen) {
      font-size: .4em;
    }
    span {
      display: block;
      &:first-child {
        text-align: left;
        @media(max-width: $sm-screen) {
          display: inline;
        }
      }
      &:nth-child(2) {
        @media(max-width: $sm-screen) {
          padding-bottom: 20px;
          border-bottom: 1px solid $white-transp;
          text-align: right;
        }
      }
      &:last-child {
        text-align: right;
        font-family: $ExtraLight;
        opacity: .7;
        font-size: .5em;
        @media(max-width: $sm-screen) {
          font-size: .7em;
        }
        margin: {
          top: 20px;
          bottom: 20px;
        }
      }
    }
  }
  &__logo {
    &--default, &--menu {
      width: 100px;
      height: 100px;
      opacity: .6;
    }
    &--hidden-for-pc {
      display: inline-block;
      vertical-align: top;
      margin-left: 30px;
      span {
        color: $white-transp;
        font-size: 2.5em;
        line-height: 50px;
        &:first-child {
          font-family: $ExtraLight;
        }
        &:last-child {
          font-family: $Bold;
        }
      }
    }
  }


  &__menu-btn {
    color: $white;
    text-decoration: none;
  }
}
