.product-section {
  width: 100%;
  margin-left: 0;
  margin-top: 81px;
  transition: ease-in-out .3s;
  @media (min-width: $md-screen) {
    margin-left: auto;
    width: calc(100% - 300px);
  }
  &__item{
    display: flex;
    border-bottom: 2px dotted $border-grey;
    margin-bottom: 10px;
    &-label{
      width: 100%;
      text-align: left;
      &:after{
        content: ":";
      }
    }
    &-def{
      width: 100%;
      text-align: right;

    }
  }
  &__content{
    p{
      &:first-child{
        margin-top: 10px;
      }
      margin-bottom: 10px;
    }
  }

}
