$yellow: rgba(157, 120, 3, 0.9);
$white: white;
$white-transp: rgba(256, 256, 256, .6);
$white-mob-bg: rgba(256, 256, 256, .85);

$grey: #686d70;
$dark-grey: #474f56;
$light-grey: #c7cacc;
$border-grey: #ddd;
$solid-yellow: rgb(157, 120, 3);
