body{
  font-family: $Regular;
  color: $grey;

  img{
    max-width: 100%;
  }


}
.about, .contact_us, .news {
  background-image: url("../img/about-bg.jpg");
  background-attachment: fixed;
  background-position: 40% 70%;

section{
    background-color: rgba(256, 256, 256, .9);
}
}
section {
  overflow-x: hidden;
}

.sidebar-show {
  left: 0!important;
  transition: ease-in-out .3s!important;
}

.ml-auto {
  margin-left: $sidebar-width!important;
  width: calc(100% - 300px)!important;
  transition: ease-in-out .3s!important;
}

[type="submit"] {
  &:hover {
    background-color: lighten($grey, 15);
  }
}