body{
  font-family: $Regular;
  color: $grey;

  img{
    max-width: 100%;
  }


}
section {
  overflow-x: hidden;
}

.sidebar-show {
  left: 0!important;
  transition: ease-in-out .3s!important;
}

.ml-auto {
  margin-left: $sidebar-width!important;
  width: calc(100% - 300px)!important;
  transition: ease-in-out .3s!important;
}

button,
[type="submit"] {
  &:hover {
    background-color: lighten($grey, 15);
  }
}