.card {
  border: .1px solid $border-grey;
}
.card-header {
  img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.card-content {
  position: relative;
  font-family: $Regular;
}
.card-bottom {
  text-align: center;
}
.card-title {
  color: $solid-yellow;
  text-decoration: none;
  font-size: 1.3em;
}
.card-goto-link {

}