[class $= "__wrap"] {
  position: relative;
  padding: {
    right: 15px;
    left: 15px;
  }
;
  margin: auto;
  width: calc(100% - 30px);
  @media(min-width: $xs-screen) {
    position: relative;
    padding: {
      right: 15px;
      left: 15px;
    }
  ;
   // width: calc(576px - 30px);
  }
  @media(min-width: $sm-screen) {
    position: relative;
    padding: {
      right: 15px;
      left: 15px;
    }
  ;
    width: calc(768px - 30px);
  }
  @media(min-width: $md-screen) {
    position: relative;
    padding: {
      right: 15px;
      left: 15px;
    }
  ;
    width: calc(990px - 30px);
  }
  @media(min-width: $lg-screen) {
    position: relative;
    padding: {
      right: 15px;
      left: 15px;
    }
  ;
    width: calc(1200px - 30px);
  }
}

[class*="--s6"]{
  width: 100%;
  @media (min-width: $sm-screen) {
    width: 50%;
  }
}

[class*="--m4"]{
  width: 100%;
  @media (min-width: $md-screen) {
    width: 33.3%;
  }
}

[class*="--m6"]{
  width: 100%;
  @media (min-width: $md-screen) {
    width: 50%;
  }
}

[class*="--m5"]{
  width: 100%;
  @media (min-width: $md-screen) {
    width: 41.6%;
  }
}
[class*="--m8"]{
  width: 100%;
  @media (min-width: $md-screen) {
    width: 80%;
  }
}
