.sidebar-section {
  width: $sidebar-width;
  position: fixed;
  left: -300px;
  top: 81px;
  height: calc(100% - 81px);
  border-right: 1px solid $border-grey;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: ease-in-out .3s;
  @media (min-width: $md-screen) {
    left: 0;
  }
  &__menu {
    &-item {
      border-bottom: 1px solid $border-grey;

    }
    &-link {
      font-size: 1.5em;
      letter-spacing: 3px;
      color: $dark-grey;
      text-decoration: none;
      display: block;
      padding: {
        top: 30px;
        bottom: 30px;
        left: 15px;
      }
    ;
    }
  }
  &__footer {
    font-size: .8em;
    margin: {
      bottom: 10px;
      left: 3px;
    }
  ;
  }


}